body{
  background-color: #ffbcd9;
  background-image: url("images/background.jpg");
}
h1{
  color: #ffbcd9;
  text-align: center;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;

}
h5{
  text-align: center;
}
h6{
  font-size:large;
  text-align: left;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;

      color: #BCD9FF;
}
a{
  align-content: center;
}
.card-colums{
  @include media-breakpoint-only(lg){
    column-count: 3;
  }
}

.favflavor {
    background-color: #17a2b8 !important;
    color: white;
}
